PREFIX=.                                                       # Put anything except @ (Ex: !, -, +, :, .  etc.).
MODS=918304063560,919539722974                                      # Put any phone number without + , () and spaces.
MONGODB=mongodb+srv://amanmohdtp_db_user:sample_mflix@cluster0.x8gvroj.mongodb.net/?retryWrites=true&w=majority        # Put your own MongoDB url, we will not provide you any public MongoDB url for stability.
SESSION_ID=abcd4567                                    # Put any random value and keep it copied.
OPENAI_API=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                # Put your own OpenAI API key.
TENOR_API_KEY=AIzaSyCyouca1_KKy4W_MG1xsPzuku5oa8W358c               # Put your Tenor API key if you want.
PACKNAME=GODZE Bot                                                  # Put any sticker packname you want.
AUTHOR=by: Team MALDINI EL CAPITANO                                       # Put any author name you want.
PORT=10000                                                          # Put any port you want (Recommended 10000 as it supports all platforms).
